[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
